<h1><%= @user.email %></h1>
<hr>

<%= form_for [@user] do |f| %>
  <div class="form-group">
    <%= f.label "Is Admin" %>
    <%= f.check_box :is_admin, class: "form-control"%>
  </div>
  <%= f.submit "Update", class: "btn btn-primary" %>
<% end %>


<p><%= link_to "Delete", user_path(@user),
            :data => {:confirm => "You sure?",
            :method => "delete"} %></p>
