<!DOCTYPE html>
<html>
  <head>
    <title>StackOverflowClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if current_user %>
      <nav class="navbar">
       <div class="container-fluid">
        <div class="navbar-header">
          <br>
          <a href="/">Home</a>
        </div>
         <ul class="nav navbar-nav navbar-right">
          <li> <br> <%= current_user.email %> </li>
          <li>
            <%= link_to "Sign Out", session_path(current_user),
                :data => {:confirm => "Are you sure you want to sign out?",
                :method => "delete"} %>
          </li>
         </ul>
       </div>
     </nav>

    <% else %>
      <hr>
      <div class="container">
        <%= link_to "Sign up", new_user_path %> |
        <%= link_to "Sign in", new_session_path %>
      </div>
    <% end %>

    <div class="container">
      <% if flash[:notice] != nil %>
        <div class="alert alert-success">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <% if flash[:alert] != nil %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
